---
import Layout from "../layouts/Layout.astro";
import Mochitsuki from "../components/Mochitsuki.astro";
import Radio from "../components/Radio.astro";
---

<Layout title="主なイベント">
  <div class="container mt-5">
    <div class="row my-5">
      <h1>主なイベント</h1>
      <p class="lead">例年行われている主なイベントを紹介します。</p>
      <div class="col-lg-6">
        <h2 class="lh-1 my-3">富二夏祭り</h2>
        <p class="lead">
          7月に東海大学正門広場にて夏祭りを開催しています。わなげ、ヨーヨー釣り、盆踊り等、様々な催しが行われます。
        </p>
      </div>
      <div class="col-lg-6">
        <img src="/images/summer_festival/IMG_3028.JPG" class="img-fluid" />
      </div>
    </div>

    <div class="row my-5">
      <div class="col-lg-6">
        <h2 class="lh-1 my-3">ラジオ体操</h2>
        <p class="lead">
          7月下旬に東海大学正門広場にて早朝6:30からラジオ体操を行っています。(※雨天中止)
        </p>
      </div>
      <div class="col-lg-6">
        <img src="/images/radio/IMG_1320.jpeg" class="img-fluid" />
      </div>
    </div>

    <div class="row my-5">
      <div class="col-lg-6">
        <h2 class="lh-1 my-3">餅つき会(クリスマス会)</h2>
        <p class="lead">12月に東海大学にて餅つき会を開催しています。</p>
      </div>
      <div class="col-lg-6">
        <img src="/images/mochitsuki/IMG_0214.JPG" class="img-fluid" />
      </div>
    </div>
  </div>
</Layout>
