---
import Layout from "../layouts/Layout.astro";
import Map from "../components/Map.astro";
---

<Layout title="富ヶ谷二丁目">
  <main>
    <div class="container my-5">
      <div class="row mt-5">
        <h2>お知らせ</h2>
        <div class="card mx-3" style="width: 18rem;">
          <img src="/images/tomi2_kaikan.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">テスト1</h5>
            <p class="card-text">ここにお知らせの内容が入ります。</p>
            <a href="#" class="btn btn-primary">詳細</a>
          </div>
        </div>
        <div class="card mx-3" style="width: 18rem;">
          <img src="/images/tomi2_kaikan.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">テスト2</h5>
            <p class="card-text">ここにお知らせの内容が入ります。</p>
            <a href="#" class="btn btn-primary">詳細</a>
          </div>
        </div>
        <div class="card mx-3" style="width: 18rem;">
          <img src="/images/tomi2_kaikan.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">テスト3</h5>
            <p class="card-text">ここにお知らせの内容が入ります。</p>
            <a href="#" class="btn btn-primary">詳細</a>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <h2>イベント</h2>
        <div class="card mx-3" style="width: 18rem;">
          <img
            src="/images/mochitsuki/IMG_0214.JPG"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">テスト</h5>
            <p class="card-text">ここにイベントの内容が入ります。</p>
            <a href="#" class="btn btn-primary">詳細</a>
          </div>
        </div>
        <div class="card mx-3" style="width: 18rem;">
          <img
            src="/images/mochitsuki/IMG_0214.JPG"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">テスト</h5>
            <p class="card-text">ここにイベントの内容が入ります。</p>
            <a href="#" class="btn btn-primary">詳細</a>
          </div>
        </div>
        <div class="card mx-3" style="width: 18rem;">
          <img
            src="/images/mochitsuki/IMG_0214.JPG"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">テスト</h5>
            <p class="card-text">ここにイベントの内容が入ります。</p>
            <a href="#" class="btn btn-primary">詳細</a>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <h2>富ヶ谷二丁目について</h2>
        <p class="lead">
          富ヶ谷二丁目は渋谷区の西側に位置し、約5000人が住む住宅街です。
        </p>
        <Map />
      </div>
    </div>
  </main>
</Layout>
