---
import Layout from "../layouts/Layout.astro";
import Map from "../components/Map.astro";
import { Image } from "astro:assets";
---

<Layout title="富ヶ谷二丁目">
  <main>
    <div class="container my-5">
      <div class="row mt-5">
        <h2>NEWS</h2>
        <div class="col-sm-6 col-md-4">
          <div class="card m-3">
            <img
              src="/images/tomi2_kaikan.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">テスト1</h5>
              <p class="card-text">ここにお知らせの内容が入ります。</p>
              <a href="#" class="btn btn-primary">詳細</a>
            </div>
          </div>
        </div>
        <div class="px-3 col-sm-6 col-md-4">
          <div class="card m-3">
            <img
              src="/images/tomi2_kaikan.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">テスト2</h5>
              <p class="card-text">ここにお知らせの内容が入ります。</p>
              <a href="#" class="btn btn-primary">詳細</a>
            </div>
          </div>
        </div>
        <div class="px-3 col-sm-6 col-md-4">
          <div class="card m-3">
            <img
              src="/images/tomi2_kaikan.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">テスト2</h5>
              <p class="card-text">ここにお知らせの内容が入ります。</p>
              <a href="#" class="btn btn-primary">詳細</a>
            </div>
          </div>
        </div>
        <div class="my-3">
          <p class="text-end">
            <a href="/news">もっと見る</a>
          </p>
        </div>
      </div>
      <div class="row mt-5">
        <h2>富ヶ谷二丁目MAP</h2>
        <div class="m-3">
          <Map />
        </div>
      </div>
    </div>
  </main>
</Layout>
