---
import Layout from "../layouts/Layout.astro";
---

<Layout title="富ヶ谷二丁目町会">
  <div class="container mt-5">
    <h1>富ヶ谷二丁目町会</h1>
    <h2 class="mt-5">役員</h2>
    <table class="table mt-3">
      <thead>
        <tr>
          <th scope="col">役職</th>
          <th scope="col">人数</th>
          <th scope="col">役割</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>会長</td>
          <td>1名</td>
          <td>会務の総括</td>
        </tr>
        <tr>
          <td>副会長</td>
          <td>2名</td>
          <td>実行委員会長 防災、防犯担当 青少年、美化衛生担当</td>
        </tr>
        <tr>
          <td>会計</td>
          <td>3名</td>
          <td></td>
        </tr>
        <tr>
          <td>総務</td>
          <td>2名</td>
          <td></td>
        </tr>
        <tr>
          <td>監事</td>
          <td>2名</td>
          <td>会計監査</td>
        </tr>
      </tbody>
    </table>
    <h2 class="mt-5">部</h2>
    <table class="table mt-3">
      <thead>
        <tr>
          <th scope="col">部</th>
          <th scope="col">活動内容</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>青少年部</td>
          <td>ラジオ体操 新入学児童へ祝品贈呈</td>
        </tr>
        <tr>
          <td>防災部</td>
          <td>防災訓練 災害対策装備品購入</td>
        </tr>
        <tr>
          <td>防犯・交通部</td>
          <td>交通安全推進会議 春/秋の交通安全運動 歳末パトロール</td>
        </tr>
        <tr>
          <td>美化衛生部</td>
          <td>春/歳末の町内一斉清掃 美化推進</td>
        </tr>
      </tbody>
    </table>
  </div>
</Layout>
