---
import Layout from "../layouts/Layout.astro";
import { getArticles } from "../library/microcms";
//const { contents: posts } = await getArticles({
//  fields: ["id", "title", "publishedAt"],
//});
---

<Layout title="おしらせ">
  <div></div>
</Layout>
