---
import Layout from "../layouts/Layout.astro";
---

<Layout title="その他">
  <div class="container mt-5">
    <h1>その他</h1>
    <p class="lead">富ヶ谷二丁目に関する情報を掲載しています。</p>
    <ul>
      <li>
        <a
          href="https://www.city.shibuya.tokyo.jp/kankyo/yoyogiuehara/keikaku-yoyogiuehara/tomigaya2shishin.html"
          target="_blank">富ヶ谷二丁目地区まちづくり指針</a
        >
      </li>
      <li>
        <a
          href="https://www.city.shibuya.tokyo.jp/kurashi/gomi/kateigomi/gomid.html"
          target="_blank">ごみ収集日</a
        >
      </li>
      <li>
        <a
          href="https://www.city.shibuya.tokyo.jp/kurashi/kotsu/hachiko/okaokoete.html"
          target="_blank">ハチ公バス 丘を越えてルート(上原・富ヶ谷ルート)</a
        >
      </li>
      <li>
        <a
          href="https://www.city.shibuya.tokyo.jp/bosai/bosai/hinan/basyo.html"
          target="_blank">一時集合場所・避難場所・地区内残留地区一覧</a
        >
      </li>
    </ul>
  </div>
</Layout>
