---
import Layout from "../layouts/Layout.astro";
---

<Layout title="商店会">
  <div class="container">
    <h1 class="my-5">商店会</h1>
    <ul>
      <li>
        <a href="https://tomigaya.info/" target="_blank">東海大学通り商店会</a>
      </li>
    </ul>
  </div>
</Layout>
